/.env
/pandas_to_excel.xlsx
/packagenpm.txt
data/data - Kopya (2).json
data/data - Kopya.json
daily_reports/vita_oos_15_03_24.csv
docs/pandas_to_excel.xlsx
docs/removed_dupes.xlsx
docs/removed_dupes1.xlsx
docs/report.csv
docs/result.txt
docs/asd.csv
removed_dupes.xlsx
